<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Компьютерные игры</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="style.css">-->
<!--    <link rel="stylesheet" href="lato-font.css">-->
</head>

<body>
<main>
    <section class="games-base">
        <div class="container">
<!--            <input class="games-base-button" type="submit" value="Exit" onClick='location.href="{% url 'catalog:index' %}"'>-->
            <h2 class="games-base-title">Menu</h2>
<!--            {% block add_button %}{% endblock %}-->
            <div class="center">
                <input class="games-main-base-button" type="submit" value="Game" onClick='location.href="localhost:55770/view_game.html"'>
<!--                <input class="games-main-base-button" type="submit" value="Engine" onClick='location.href="{% url 'catalog:view_engine' %}"'>-->
<!--                <input class="games-main-base-button" type="submit" value="Company" onClick='location.href="{% url 'catalog:view_company' %}"'>-->
<!--                <input class="games-main-base-button" type="submit" value="Platform" onClick='location.href="{% url 'catalog:view_platform' %}"'>-->
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-content"></div>
        </div>
    </footer>
</main>
</body>

</html>